<!DOCTYPE html>
<html data-ng-app='myApp'>
	<head>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script>
			var myAppModule = angular.module('myApp', []);
			myAppModule.controller('TextController', function($scope) {
				var someText = {};
				var items = [];
				someText.message = 'You have started your journey.';
				$scope.someText = someText;
				$scope.someText2 = $scope.someText.message + 'aaa';
				
				var watching = function() {
					console.log(someText.message, 'watching');
				};
				
				$scope.requestHandler = function() {
					console.log(this);
				};
				
				$scope.getSomeText = function() {
					console.log(someText, '^^');
					return someText;
				};
				
				$scope.$watch('someText.message', watching);
				
				$scope.resetForm = function() {
					someText.message = '';
				};
			});
		</script>
	</head>
	<body>
		<div data-ng-controller='TextController'>
		<p ng-bind="someText.message"></p>	
		<p ng-bind="someText2"></p>	
		<input ng-model="someText.message" />
		
		<p ng-bind="getSomeText()"></p>
		<div>
			<form ng-submit="requestHandler()">
				<input type="checkbox" ng-model="youCheckedIt">{{youCheckedIt}}
				<input type="submit" value="Go" />
				<input type="button" value="Reset" ng-click="resetForm()" />
			</form>
		</div>
		</div>
		<div data-ng-controller='TextController'>
		<p ng-bind="someText.message"></p>	
		<p ng-bind="someText2"></p>	
		</div>
	</body>
</html>